<template name="header">

<header class="shadow" >
  <div id="logo"><a href="#"><img  src="img/dosa-logo2.png" width="100" alt="Homepage" ></a></div>
  <div id="cd-hamburger-menu"><a class="cd-img-replace hamburgerMenu" href="#0">Menu</a></div>

  {{# if isItemInCart}}

  <div id="cd-cart-trigger"><a id ="dosahousecart" class="cd-img-replace openCart" style="background-color:green;" href="#0">Cart</a></div>


  {{else}}

  <div id="cd-cart-trigger"><a id ="dosahousecart" class="cd-img-replace openCart" style="background-color:#26292f;" href="#0">Cart</a></div>

  {{/if}}


</header>
<!-- NAVIGATIONS -->
<nav id="main-nav">
  <ul id="main-nav-header" style="font-family: 'Montserrat';">
    <li> <a id="main-menutoggle" 		href="#menu" 		class="mainmenutoggle">Our Menu</a> </li>
    <li> <a id="aboutus-menutoggle" href="#aboutUs" class="mainmenutoggle">About Us</a></li>
    <li > <a id="catering-menutoggle" 	href="#catering" 	class="mainmenutoggle">Catering</a> </li>
    <li> <a id="findus-menutoggle" href="https://www.google.com/maps/place/4%2F100-102+Pacific+Hwy,+Waitara+NSW+2077,+Australia"  target="_blank" class="mainmenutoggle">Find Us</a></li>

  </ul>
</nav>

</template>